Source: mintlocale
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://github.com/linuxmint/mintlocale

Package: mintlocale
Architecture: all
Depends: python3,
         python3-apt,
         python3-gi,
         accountsservice,
         aptkit,
         gir1.2-accountsservice-1.0,
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-xapp-1.0,
         im-config (>= 0.23-1),
         iso-flag-png,
         pkexec,
         ${misc:Depends}
Description: Language selection tool
 Locale selection.
